@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  height: 100%;
}
.main-wraper {
  width: 100%;
  background-color: royalblue;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
/* .col-1-left {
  background-color: red;
  width: 15%;
  height: 100%;
} */
.col-2-right {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.col-2-right .row-1-main-ums {
  background-color: aqua;
  width: 70vw;
  height: 70vh;
  background: transparent;
  border-radius: 0.7rem;
  filter: blur(0.2px);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.col-2-right .row-1-main-ums .ums-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.col-2-right .row-1-main-ums .greeting {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.col-2-right .row-1-main-ums .ums-container .usr_details-ums {
  margin-top: 2rem;
  width: 500px;
  /* background-color: greenyellow; */
  height: 50vh;
}

.col-2-right .row-1-main-ums .ums-container .usr_image-ums {
  margin-top: 2rem;
  width: 500px;
  /* background-color: rgb(231, 105, 26); */
  height: 50vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.col-2-right .row-1-main-ums .ums-container .usr_image-ums img{
  width: 250px;
  height: 35vh;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  margin-left: 8rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 1.5rem;
}
.title {
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: aliceblue;
}
.usr-btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.usr-btns .edit{
  width: 10vw;
  height: 2.5rem;
  background-color: green;
  margin-left: 2rem;
  border-radius: 2rem;
  text-align: center;
  line-height: 2.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.usr-edit{
          background-color: whitesmoke;
          width: 30vw;
          height: 60vh;
          /* filter: blur(2px); */
          border-radius: 0.5rem;
          z-index: 1;
          margin-top: -500px;
          visibility: hidden;
          transition:  .3s;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
      }
      .usr-edit1{
          background-color: whitesmoke;
          width: 30vw;
          height: 60vh;
          /* filter: blur(2px); */
          border-radius: 0.5rem;
          z-index: 1;
          margin-top: -470px;
          visibility: hidden;
          transition:  .3s;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
      }
      .usr-edit2{
          background-color: whitesmoke;
          width: 30vw;
          height: 60vh;
          /* filter: blur(2px); */
          border-radius: 0.5rem;
          z-index: 1;
          margin-top: -490px;
          visibility: hidden;
          transition:  .3s;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
      }
      .usr-edit3{
          background-color: whitesmoke;
          width: 30vw;
          height: 60vh;
          /* filter: blur(2px); */
          border-radius: 0.5rem;
          z-index: 1;
          margin-top: -490px;
          visibility: hidden;
          transition:  .3s;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
      }
     
      .table tr td{
          font-size: 1.2rem !important;
      }
      .container-btns{
          margin: 2rem 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
      }
      .container-btns .fa-solid{
          font-size: 2rem;
          cursor: pointer;
      }
      .edit-container .container{
                  padding-left: 0.4rem;
                  padding-right: 0.4rem;
                  
                  
              }
              .edit-container .container form{
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  
              }
             .edit-container .container input[type="text"]{
                  border: none;
                  outline: none;
                  width: 20vw;
                  height: 5vh;
                  font-size: 1.2rem;
                  padding-left: 0.5rem;
             } 
             .edit-container .container input[type="submit"]{
                  border: none;
                  outline: none;
                  width: 20vw;
                  height: 5vh;
                  font-size: 1.2rem;
                  padding-left: 0.5rem;
                  background-color: rgb(142, 142, 231);
             } 
             .edit-container .container{
                  padding-left: 0.4rem;
                  padding-right: 0.4rem;
                  
                  
              }
              .edit-container .container form{
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  
              }
             .edit-container .container input[type="email"]{
                  border: none;
                  outline: none;
                  width: 20vw;
                  height: 5vh;
                  font-size: 1.2rem;
                  padding-left: 0.5rem;
             } 
             .edit-container .container input[type="submit"]{
                  border: none;
                  outline: none;
                  width: 20vw;
                  height: 5vh;
                  font-size: 1.2rem;
                  padding-left: 0.5rem;
                  background-color: rgb(142, 142, 231);
             } 
             .edit-container .container{
                  padding-left: 0.4rem;
                  padding-right: 0.4rem;
                  
                  
              }
              .edit-container .container form{
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  
              }
             .edit-container .container input[type="text"]{
                  border: none;
                  outline: none;
                  width: 20vw;
                  height: 5vh;
                  font-size: 1.2rem;
                  padding-left: 0.5rem;
             } 
             .edit-container .container input[type="submit"]{
                  border: none;
                  outline: none;
                  width: 20vw;
                  height: 5vh;
                  font-size: 1.2rem;
                  padding-left: 0.5rem;
                  background-color: rgb(142, 142, 231);
             } 